<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.enterprise.pc.applicationlocationfree">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <!-- Needed only if your app targets Android 5.0 (API level 21) or higher. -->
    <uses-feature android:name="android.hardware.location.gps" />

    <application
        android:name="com.enterprise.pc.applicationlocationfree.BasicApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.enterprise.pc.applicationlocationfree.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.enterprise.pc.applicationlocationfree.LocationGraphActivity"
            android:exported="true"/>
        <activity android:name="com.enterprise.pc.applicationlocationfree.DataExportActivity"
            android:exported="true"/>
        <activity android:name="com.enterprise.pc.applicationlocationfree.DataAddInformationActivity"
            android:exported="true"/>
        <activity android:name="com.enterprise.pc.applicationlocationfree.ListDataActivity"
            android:exported="true"/>
        <activity android:name="com.enterprise.pc.applicationlocationfree.DataUpdateInformationActivity"
            android:exported="true"></activity>

        <!-- AdMob Application ID -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/adMob_app_id_value"/>

    </application>

</manifest>